$root: button;

.#{$root} {
  font-family: var(--button-font-family, var(--font-family)), sans-serif;
  font-weight: var(--button-font-weight, 500);
  font-size: var(--button-font-size, var(--font-size, 14px));
  letter-spacing: var(--button-letter-spacing, 0.5px);
  line-height: var(--button-line-height, var(--line-height, 1rem));
  height: var(--button-height, 34px);
  border-radius: var(--button-border-radius, 10px);
  padding: var(--button-padding, 0 16px);

  &:active:not(:disabled) {
    transform: scale(var(--button-scale, 0.98));
  }

  &:disabled {
    opacity: var(--button-disabled-opacity, 0.75);
    cursor: default;
  }

  // Variants
  &--contained {
    color: var(--button-contained-text-color, var(--bg-primary-color));
    background: var(--button-contained-bg-color, var(--text-primary-color));

    &.#{$root}--primary-color {
      color: #fff;
      background: var(--primary-color);
    }

    &.#{$root}--secondary-color {
      color: #fff;
      background: var(--secondary-color);
    }

    &.#{$root}--accent-color {
      color: #fff;
      background: var(--accent-color);
    }

    &.#{$root}--error-color {
      color: #fff;
      background: var(--error-color);
    }

    &.#{$root}--success-color {
      color: #fff;
      background: var(--success-color);
    }
  }

  &--outlined {
    color: var(--button-outlined-text-color, var(--text-primary-color));
    border: 1px solid var(--button-outlined-border-color, var(--button-outlined-text-color, var(--text-primary-color)));
    background: none;

    &:hover {
      background-color: var(--button-outlined-bg-color-hover);
    }

    &:active {
      background-color: var(--button-outlined-bg-color-active);
    }

    &.#{$root}--primary-color {
      color: var(--primary-color);
      border-color: var(--button-outlined-border-primary-color, var(--primary-color));
    }

    &.#{$root}--secondary-color {
      color: var(--secondary-color);
      border-color: var(--button-outlined-border-secondary-color, var(--secondary-color));
    }

    &.#{$root}--accent-color {
      color: var(--accent-color);
      border-color: var(--button-outlined-border-accent-color, var(--accent-color-color));
    }

    &.#{$root}--error-color {
      color: var(--error-color);
      border-color: var(--button-outlined-border-error-color, var(--error-color));
    }

    &.#{$root}--success-color {
      color: var(--success-color);
      border-color: var(--button-outlined-border-success-color, var(--success-color));
    }
  }

  &--text {
    color: var(--button-text-text-color, var(--text-primary-color));
    background-color: transparent;

    &:hover {
      color: var(--button-text-text-color-hover, var(--text-secondary-color));
    }

    &:active {
      color: var(--button-text-text-color-active, var(--text-secondary-color));
    }

    &.#{$root}--primary-color {
      color: var(--primary-color);
    }

    &.#{$root}--secondary-color {
      color: var(--secondary-color);
    }

    &.#{$root}--accent-color {
      color: var(--accent-color);
    }

    &.#{$root}--error-color {
      color: var(--error-color);
    }

    &.#{$root}--success-color {
      color: var(--success-color);
    }
  }

  // Sizes
  &--small-size {
    height: var(--button-height-sm, 24px);
    font-size: var(--button-font-size-sm, 12px);
  }

  &--medium-size {
    height: var(--button-height-md, 44px);
    font-size: var(--button-font-size-sm, 16px);
  }

  &--large-size {
    height: var(--button-height-lg, 54px);
    min-width: 95px;
    font-size: var(--button-font-size-sm, 18px);
  }

  //Radius
  &--small-radius {
    border-radius: var(--button-border-radius-sm, 5px);
  }

  &--medium-radius {
    border-radius: var(--button-border-radius-md, 12px);
  }

  &--large-radius {
    border-radius: var(--button-border-radius-lg, 15px);
  }

  &--full-radius {
    border-radius: var(--button-height, 999px);
  }

  &__text {
    position: relative;
    z-index: 3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: var(--button-max-width, 160px);
    line-height: initial;
  }
}
