@use "../../styles/mixins" as theme;

.truncate {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color var(--truncate-speed-color, var(--speed-color));

  &__hidden {
    opacity: 0;
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--middle {
    text-overflow: clip;

    padding-right: var(--truncate-around-space, 8px);

    @include theme.rtl() {
      padding-right: 0;
      padding-left: var(--truncate-around-space, 8px);
    }
  }
}
