.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--list-item-gap, 10px);
  flex-wrap: nowrap;
  box-sizing: border-box;
  line-height: var(--list-item-line-height, var(--line-height, 1 rem));

  [dir="rtl"] & {
    flex-direction: row-reverse;
  }

  &__center {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
  }

  &__primary,
  &__secondary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__primary {
    color: var(--list-item-primary-color, var(--text-primary-color));
  }
  &__secondary {
    color: var(--list-item-secondary-color, var(--text-secondary-color));
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
