@use "../../styles/layers";

@layer addon-ui.components {
  .icon {
    color: var(--icon-color);
    transition:
      transform var(--icon-speed-transform, var(--speed-sm)),
      color var(--icon-speed-color, var(--speed-color));

    &:hover {
      color: var(--icon-color-hover);
      transform: scale(var(--icon-scale, 1));
    }

    &--default {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
