@use "addon-ui/theme";

@include theme.view("playground") {
  --primary-color: #2563eb;
  --line-height: 1.5;
  --highlight-color: #000;
  --modal-padding: 24px;
  --drawer-padding: 24px;
  --drawer-width: min(360px, 100vw);
  --viewport-width: 100%;
  --viewport-height: 280px;
}
