$root: footer;

.#{$root} {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--footer-padding, var(--side-padding-sm));
  padding-top: 0;
  background-color: var(--footer-bg-color, transparent);
  transition:
    background-color var(--transition-speed-color),
    box-shadow var(--transition-speed-color);

  [dir="rtl"] & {
    flex-direction: row-reverse;
  }

  &--shadow {
    box-shadow: var(--footer-box-shadow, 0px -4px 4px 0px rgba(0, 0, 0, 0.03));
  }

  &--reverse {
    flex-direction: row-reverse;

    [dir="rtl"] & {
      flex-direction: row;
    }
  }

  &-children {
    width: 100%;
    display: flex;
    justify-content: space-between;

    [dir="rtl"] & {
      flex-direction: row-reverse;
    }

    .#{$root}--reverse & {
      flex-direction: row-reverse;

      [dir="rtl"] & {
        flex-direction: row;
      }
    }
  }

  &-left {
    display: flex;
    align-items: center;
    gap: var(--footer-left-gap, var(--footer-gap, 15px));

    [dir="rtl"] & {
      flex-direction: row-reverse;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: var(--footer-right-gap, var(--footer-gap, 15px));

    [dir="rtl"] & {
      flex-direction: row-reverse;
    }
  }
}
