@use "../../styles/layers";

$root: footer;

@layer addon-ui.components {
  .#{$root} {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--footer-padding, var(--side-padding-sm));
    padding-top: 0;
    background-color: var(--footer-bg-color, transparent);
    transition:
      background-color var(--footer-speed-bg, var(--speed-color)),
      box-shadow var(--footer-speed-box-shadow, var(--speed-color));

    &--shadow {
      box-shadow: var(--footer-box-shadow, 0px -4px 4px 0px rgba(0, 0, 0, 0.03));
    }

    &--reverse {
      flex-direction: row-reverse;
    }

    &-children {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .#{$root}--reverse & {
        flex-direction: row-reverse;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      gap: var(--footer-left-gap, var(--footer-gap, 15px));
    }

    &-right {
      display: flex;
      align-items: center;
      gap: var(--footer-right-gap, var(--footer-gap, 15px));
    }
  }
}
