$root: scroll-area;

.#{$root} {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__viewport {
    width: 100%;
    height: 100%;

    &--horizontal > div {
      display: inherit !important;
    }
  }

  &__scrollbar {
    display: flex;
    user-select: none;
    touch-action: none;
    padding: var(--scroll-area-scrollbar-padding, 3px);
    background: var(--scroll-area-scrollbar-bg-color, transparent);
    transition: background var(--transition-speed-sm);

    &:hover {
      background: var(--scroll-area-scrollbar-bg-color-hover, transparent);
    }

    &[data-orientation="vertical"] {
      width: var(--scroll-area-scrollbar-size, 9px);
      padding: 0 var(--scroll-area-scrollbar-offset, var(--scroll-area-scrollbar-x-offset, 2px));
    }

    &[data-orientation="horizontal"] {
      flex-direction: column;
      height: var(--scroll-area-scrollbar-size, 9px);
      padding: var(--scroll-area-scrollbar-offset, var(--scroll-area-scrollbar-y-offset, 2px)) 0;
    }
  }

  &__thumb {
    flex: 1;
    position: relative;
    background: var(--scroll-area-thumb-bg-color);
    border-radius: var(--scroll-area-thumb-border-radius, 100px);
    transition: background var(--transition-speed-sm);

    &:hover {
      background: var(--scroll-area-thumb-bg-color-hover, var(--scroll-area-thumb-bg-color));
    }
  }

  &__corner {
    background: var(--scroll-area-scrollbar-bg-color, transparent);

    &:hover {
      background: var(--scroll-area-scrollbar-bg-color-hover, transparent);
    }
  }
}
